<H1>Create a question for this survey:</H1>
  <form id='question_form' 'action='/surveys/<%=@survey.id%>/questions' method='post'>
    <ul>
      <li>
        <label for='question[content]'>content:</label>
        <input type='text' name='question[content]' placeholder='content' />
      </li>
    </ul>
    <input type='submit' value='create question'>
  </form>

<a href='/surveys/<%=@survey.id%>'>back</a>
<% if @errors %>
  <%=@errors%>
<% end %>
