<h1> Hi <%=current_user.username %> </h1>

<h5>Here are your inactive surveys, lets finish them! </h5>
<% @surveys.each do |survey| %>
<% if survey.creator_id == current_user.id && survey.is_active == false %>
<a href="/surveys/<%=survey.id%>"><%= survey.title %></a>
<% end %>
<% end %>
