<div id="survey-div">
<H1>Create a survey:</H1>
  <form id="survey-form" action='/surveys' method='post'>
    <ul>
      <li>
        <label for='survey[title]'>title:</label>
        <input type='text' name='survey[title]' placeholder='title' />
      </li>
      <li>
        <label for='survey[description]'>description:</label>
        <input type='text' name='survey[description]' placeholder='desription' />
      </li>
    </ul>
    <input type='hidden' name='survey[creator_id]' value='<%= current_user.id%>' />

    <input type='hidden' name='survey[is_active]' value=<%= false %> />
    <input type='submit' value='create survey'>
  </form>
</div>

<div id="questions">
</div>

<div id="question-div">
</div>



<a href='/'>Done </a>
