<div id="created-survey-title">
<H1>Create a survey:</H1>
  <form id="create-survey" action='/surveys' method='post'>
    <ul>
      <li>
        <label for='survey[title]'>title:</label>
        <input type='text' name='survey[title]' placeholder='title' />
      </li>
      <li>
        <label for='survey[description]'>description:</label>
        <input type='text' name='survey[description]' placeholder='desription' />
        <input type='hidden' name='survey[creator_id]' value='<%= current_user.id%>' />
        <input type='hidden' name='survey[is_active]' value=<%= false %> />
      </li>
    </ul>
    <input type='submit' value='create survey'>
  </form>
</div>

<div id="created-question">
</div>

<div id="created-choice">
</div>

<% if @errors %>
  <%=@errors%>
<% end %>
