<form id='choice-form' question_id='<%=question.id%>' action='/questions/<%=question.id%>/choices' method='post'>
        content:
        <input type='text' name='choice[content]' placeholder='content' />
        <input type='hidden' name='choice[question_id]' value='<%=question.id %>' />
    <input type='submit' value='create choice'>
  </form>


