  <form id='question-form' action='/surveys/<%=survey.id%>/questions' method='post'>
    <label for='question[content]'>question:</label>
    <input type='text' name='question[content]' placeholder='content' />
    <input type='submit' value='create question'>
  </form>
