<div class='survey'>
  <div class="details">
     <div>
      <label>Name of Survey</label>
      <label> <%=survey.title%> </label>
    </div>
    <div>
      <label>Description of Survey</label>
      <label> <%=survey.description%> </label>
    </div>
  </div>
</div>

